<h1>Editing game level</h1>

<%= render "form", game_level: @game_level %>

<br>

<div>
  <%= link_to "Show this game level", @game_level %> |
  <%= link_to "Back to game levels", game_levels_path %>
</div>
